<div #gridElement id="gridElement" class="container">
  <app-menu [items]="menu"></app-menu>
  <div #stage id="stage"></div>
  <div *ngIf="initialised" class="container-panzoom">
    <pan-zoom [config]="panzoomConfig">
      <div
        class="panzoom-content"
        [style.width.px]="2400">
        <img [src]="'assets/sydney.jpg'" alt="">
      </div>

    </pan-zoom>
  </div>

  <div class="container-info" *ngIf="panzoomModel">
    <div>
      <strong>pan.x:</strong> {{panzoomModel.pan.x | rounder:0}}<br>
      <strong>pan.y:</strong> {{panzoomModel.pan.y | rounder:0}}<br>
      <strong>zoomLevel:</strong> {{panzoomModel.zoomLevel | rounder:3}}<br>
      <strong>isPanning:</strong> {{panzoomModel.isPanning}}<br>
      ------------------------------<br>
      Calculated Scale: {{scale | rounder:4 }}
    </div>
  </div>
</div>
